.project_buttons {
    margin: 0 1rem;

}

.projects_box {
    margin: 0 0.5rem;
    padding-bottom: 2rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
    text-align: center;

}


.projects_title {
    color: rgba(19, 19, 49, 0.68);
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 0.8rem 0 0.2rem 0;
}

.parent {
    display:flex;
    flex-flow: wrap;
    justify-content:center;
}
img{
    height: 150px;
    width: auto;
}

span {
    border-style:solid;
    border-color: bisque;
    border-radius: 3px;
}


